@import "header.scss";
@import "calendar.scss";
@import "redline.scss";
@import "pop-up.scss";
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

body {
  width: 100%;
  height: 100%;
}
